<?xml version="1.0"?>
<launch>
	<rosparam command="load" file="$(find sq_lidar_conversions)/conf/sq_lidar_conversions.yaml"/>
	<node pkg="sq_lidar_conversions" type="laser2pointcloud" name="laser2pointcloud"/>
	<node pkg="sq_lidar_conversions" type="save_pointcloud_odom" name="save_pointcloud_odom"/>
</launch>
	
